#KNN Algorithm

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df =pd.read_csv("/content/sample_data/Mall_Customers.csv")

In [18]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [19]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [20]:
x=df.drop('Genre',axis=1)
y=df["Genre"]

In [21]:
#from sklearn.preprocessing import StandardScaler
# scaler=StandardScaler()
#scaler.fit(df.drop('Genre',axis=1))

In [22]:
#trans=scaler.transform(df.drop('Genre',axis=1))

In [23]:
#trans

In [24]:
#new=pd.DataFrame(trans,columns=df.columns[:-1])

In [25]:
from sklearn.model_selection import train_test_split
# x=new
# y=df['Genre']

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
c_knn = KNeighborsClassifier(n_neighbors=6)
c_knn.fit(x_train,y_train)
y_pred = c_knn.predict(x_test)

In [51]:
from sklearn.metrics import classification_report

In [54]:
#print("Accuracy : ",metrics.accuracy_score(y_test,y_pred))

NameError: ignored

In [55]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Female       0.64      0.83      0.72        36
        Male       0.54      0.29      0.38        24

    accuracy                           0.62        60
   macro avg       0.59      0.56      0.55        60
weighted avg       0.60      0.62      0.59        60