**Pandas**

In [51]:
import numpy as np

In [52]:
import pandas as pd

In [53]:
list=[1,2,3]
labels=['a','b','c']
ar=np.array(list)
d={'a':10,'b':20,'c':30}

Using list

In [54]:
pd.Series(list)

0    1
1    2
2    3
dtype: int64

In [55]:
pd.Series(list,labels)

a    1
b    2
c    3
dtype: int64

In [56]:
pd.Series(ar)

0    1
1    2
2    3
dtype: int64

In [57]:
pd.Series(ar,labels)

a    1
b    2
c    3
dtype: int64

In [58]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Data frames

In [59]:
import pandas as pdf
import numpy as np

In [60]:
from numpy.random import randn
np.random.seed(101)

In [61]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [62]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Selection and Indexing

In [63]:
df['Z']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [64]:
df[['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057
E  1.978757  0.683509

In [65]:
df['new']=df['W']+df['X']

In [66]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [67]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [68]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [69]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [70]:
df.iloc[0]

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.334983
Name: A, dtype: float64

In [71]:
df.loc['B','Y']

-0.8480769834036315

In [72]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

**Conditional Selection**

In [73]:
df[df>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118       NaN       NaN  0.605965  0.331800
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [74]:
df[df['X']>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [76]:
df[df['X']>0]['Z']

A    0.503826
C   -0.589001
E    0.683509
Name: Z, dtype: float64

In [77]:
df[(df['X']>0) & (df['Y']>1)]

          W         X         Y         Z       new
E  0.190794  1.978757  2.605967  0.683509  2.169552

**Operations**

In [78]:
import pandas as pd
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[111,222,333,444],'cols3':['abc','def','ghi','jkl']})

In [79]:
df

   col1  col2 cols3
0     1   111   abc
1     2   222   def
2     3   333   ghi
3     4   444   jkl

In [80]:
df['col1'].unique()

array([1, 2, 3, 4])

In [81]:
df['col2'].nunique()

4

In [82]:
df['col2'].value_counts()

111    1
222    1
333    1
444    1
Name: col2, dtype: int64

**Selecting Data**

In [83]:
newddf=df[(df['col1']>2)&(df['col1']==555)]

In [84]:
df

   col1  col2 cols3
0     1   111   abc
1     2   222   def
2     3   333   ghi
3     4   444   jkl

In [85]:
newddf

Empty DataFrame
Columns: [col1, col2, cols3]
Index: []

In [86]:
newddf=df[(df['col1']>2)|(df['col1']==555)]

In [36]:
newddf

   col1  col2 cols3
2     3   333   ghi
3     4   444   jkl

**Applying Function**

In [87]:
def times2(x):
  return x*2

In [88]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [89]:
df['cols3'].apply(len)

0    3
1    3
2    3
3    3
Name: cols3, dtype: int64

In [90]:
df['col2'].sum()

1110

In [91]:
del df['cols3']

In [92]:
df

   col1  col2
0     1   111
1     2   222
2     3   333
3     4   444

In [93]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [94]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [95]:
df.sort_values(by='col2')

   col1  col2
0     1   111
1     2   222
2     3   333
3     4   444